---
layout: page
title: People
permalink: /people/
---
<!-- template for the people page -->
{%- assign members = site.people | where_exp: "person", "person.alumni != true" -%}
{%- assign alumni = site.people | where: "alumni", true -%}

<div class="wrapper people">
{%- for person in members -%}
  {% include person.html person=person %}
{%- endfor -%}
</div>

{%- if alumni.size > 0 -%}
<h3 class="people-heading">Alumni</h3>
<div class="wrapper people">
{%- for person in alumni -%}
  {% include person.html person=person %}
{%- endfor -%}
</div>
{%- endif -%}
