.people {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;

  .person {
    flex: 1 1 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 10px;
  }

  .personal-links {
    ul {
      list-style: none;
      margin: 0 auto;
    }

    li {
      display: inline;
      margin-right: 0;
    }
  }
}